 *{margin:0;
    padding:0;
    box-sizing: border-box;
}
.mainContaine{
    display:flex;
    flex-direction: column;
    width:90vw;
    height:90vh;
    justify-content: center;
        align-items: center;
}
.subContainer{
    width:350px;
    display:flex;
    flex-direction: column;
   border:1px solid black;
   padding-bottom:30px;
    align-items:center;
    height:450px;
    background-color: #A6BB8D;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border-radius: 20px;
}
.imageContainer {
    position: relative;
    top: -12%; 
    height:80px;
} 

.imageContainer img {
    border-radius: 50%;
    width:120px;
    height:120px;
}
form{
    display:flex;
    justify-content:space-between;
    /* align-items:center; */
    flex-direction:column;
    justify-content:space-between;
    height:100%;
    width:100%;position:relative;
}
.username,.email,.passWord{
    width:100%;
    height:50px;
    margin:0;
    padding:0;
}
form input{
    width:90%;
    margin-inline:auto;
    padding:10px;
    outline:none; 
     font-family: 'Courier New', Courier, monospace;
    font-size:16px;
    letter-spacing: 2px;
}
.rightContainer input{
    width:120px;
    height:36px;
    display:inline-block;
   outline:none;
    border:none;
    
    
}
.buttons{
    display:flex;
    gap:30px;
}  
.Registration{
    /* position:absolute; */
    top:100px;
    left:40%;
    border:2px solid black;
    padding:10px;
    text-align:center;
    transition:2s;
    z-index:10;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color:#FFB100;
} h1{
    color:green;
}

@media screen and (max-width:1024px){
  .subcontainer{
    width:90%;
    align-self: center;

  }

}
